.row
  .medium-10.medium-centered.column

    %h1 You've got the power!
    %p
      Als je dit ziet, ben je een JAXONS admin. Als je een functie mist, maak dan even een Asana task aan en assign deze aan Job. Dan poept die zo even de benodigde code uit.

    .row
      .medium-6.column
        %h2 Statistieken

        %ul
          %li 
            users: 
            = @user_count

