.row
  .col-md-4
  .col-md-4.settings

    %p
      %h3 Change your email
      %input{placeholder:"#{current_user.email}", class: "form-control"}

    %hr

    %p
      %h3 Change your password
      %input{placeholder: "Enter a new password and submit to confirm", class: "form-control"}


    %br

    %button{class: "btn btn-primary btn-block btn-lg"} Submit
