.timer-n
  <strong>{{ parseTime(timer.total_time) }}</strong> on <strong>{{ timer.project.name }}</strong> for <strong>JAXONS</strong> on <strong>{{ timer.created_at | date }}</strong>
  
  .right
    .money
      <strong>€ {{ timer.total_value / 100 }}</strong>
    %i.fa.fa-times{ "ng-click" => "deleteTimer(timer)" }
  %br
