.tag
  &nbsp;
.buttons{ "ng-click" => "deleteTimer(timer)" }
  %i.fa.fa-times
.activity
  {{ timer.activity }}
.start-time
  {{ timer.start_time | date }}
.total-value
  € {{ timer.total_value / 100 }}
.project
  {{ timer.project.name }}
.total-time
  {{ parseTime(timer.total_time) }}