%h2 Projects
.add-project{ "ng-click" => "openProjectModal()" }    
  add project
  %i.fa.fa-plus
    
.project-n{ "ng-repeat" => "project in projects" }
  {{ project.name }}
  {{ project.hourly_rate / 100 }}

= render 'layouts/new_project'
