%fieldset
  %legend Projects
  %div{ "ng-repeat" => "project in projects" }  
    %a{ "ng-click" => "showProject(project)" }
      {{ project.name }}
    <br />

%fieldset{ "ng-show" => "selected_project" }
  %legend {{ selected_project.name }}
  {{ selected_project.hourly_rate }}
