.projects{ "ng-controller" => "newClientCtrl" }
  %input.project_filter{ type: 'text', "ng-model" => "search_filter", placeholder: 'SEARCH' }    

  .client-n.ng-cloak{ "ng-repeat" => "client in clients | filter:search_filter | limitTo:10 | orderBy:'updated_at'" }
    .company-name.ng-cloak{ "ng-bind" => "client.company_name"}
    .uninvoiced
      € {{ client.uninvoiced / 100}}
    .inner-client
      .money-box
        .title uninvoiced
        {{ client.uninvoiced / 100 }}
      .money-box
        .title invoiced
        {{ client.invoiced / 100 }}
      .money-box
        .title paid
        {{ client.paid / 100 }}

  .project-n.ng-cloak{ "ng-repeat" => "project in projects | filter:search_filter | limitTo:10 | orderBy:'updated_at'" }
    .project-name
      {{ project.name }}
    .uninvoiced
      € {{ project.uninvoiced / 100 }}
    .underbar





  = render 'layouts/new_project'
  = render 'layouts/new_client'
