%fieldset
  %legend Projects
  %div{ "ng-repeat" => "project in projects" }  
    %a{ "ng-click" => "showProject(project)" }
      {{ project.name }} - € {{ project.hourly_rate / 100 }}/hr
    <br />

%fieldset{ "ng-show" => "selected_project_show" }
  %legend {{ selected_project.name }}

  %form{ "ng-submit" => "updateProject(selected_project)" }
    .row
      .small-12.column
        %label Project name
        %input{ type: 'text', "ng-model" => "selected_project.name", placeholder: "Project name" }

      .small-12.column
        %label Hourly Rate
        %input{ type: 'text', "ng-model" => "selected_project.new_hourly_rate", placeholder: "Hourly rate, e.g. 65" }

    .row
      .small-12.column
        %button.log-button
          Update Project

  .row
    .small-12.column
      %button{ "ng-click" => "deleteProject(selected_project)" }
        Delete project
