.projects{ "ng-controller" => "newClientCtrl" }
  %input.project_filter{ type: 'text', "ng-model" => "search_filter", placeholder: 'SEARCH' }

  .create-buttons
    .new-button.left{ "ng-click" => "openModal()" }
      %i.fa.fa-plus
      Client

    .new-button.right{ "ng-click" => "openProjectModal()" }
      %i.fa.fa-plus
      Project

  .client-n.ng-cloak{ "ng-repeat" => "client in clients | filter:search_filter | limitTo:10 | orderBy:'updated_at':true", "ng-click" => "fold_out = ! fold_out", "ng-class" => "fold_out == true ? 'client-n client-n-out' : 'client-n'" }
    .company-name.ng-cloak {{ client.company_name | truncate }}
    .uninvoiced
      € {{ client.uninvoiced / 100}}
    

      / .edit-button
      /   .button.tiny.right{ "ng-click" => "openUpdateClientModal(client)"}
      /     Edit

    .client-n-project{ "ng-repeat" => "project in client.projects | filter:search_filter" }
      .p-name {{ project.name | truncate }}
      .p-uninvoiced {{ project.uninvoiced / 100 }}
      .p-invoiced {{ project.invoiced / 100 }}
      .p-paid {{ project.paid / 100 }}

    .inner-client
      .invoiced
        .title € {{ client.invoiced / 100 }}

      .paid
        .title € {{ client.paid / 100 }}

  = render 'layouts/new_project'
  = render 'layouts/new_client'
  = render 'layouts/edit_client'
