.timer-list
  %h1.date-title Today
  %fieldset
    .timers{ "ng-repeat" => "timer in timers" }  
      .timer-n
        {{ timer.total_time }} seconds on {{ timer.project.name }} for JAXONS
        
        .right
          .money
            EUR {{ timer.total_value }}
          %i.fa.fa-times{ "ng-click" => "deleteTimer($index)"}

        %pre {{ timer | json }}
      <br />
