.timer-list
  %h1.date-title Today
  %fieldset
    .timers{ "ng-repeat" => "timer in timers | orderBy:'id':true" }  
      .timer-n
        <strong>{{ timer.total_time }}</strong> seconds on <strong>{{ timer.project.name }}</strong> for JAXONS
        
        .right
          .money
            <strong>{{ timer.total_value }}</strong>
          %i.fa.fa-times{ "ng-click" => "deleteTimer($index)"}
        <br />

        / %pre {{ timer | json }}
