.timer-list
  %h1.date-title Today
  %fieldset
    .timers{ "ng-repeat" => "timer in timers | orderBy:'id':true" }  
      .timer-n
        <strong>{{ parseTime(timer.total_time) }}</strong> on <strong>{{ timer.project.name }}</strong> for JAXONS
        
        .right
          .money
            <strong>€ {{ timer.total_value / 100 }}</strong>
          %i.fa.fa-times{ "ng-click" => "deleteTimer($index)"}
        <br />
