.timer-list
  .timer-n{ "ng-repeat" => "timer in timers | orderBy:'start_time':true" }
    .tag
      &nbsp;
    .time
      {{ parseTime(timer.total_time) }}
    .activity
      {{ timer.activity | limitTo:35 }}
    .project
      {{ timer.project.name | limitTo:25 }}
    .value
      € {{ timer.total_value / 100 }}
    .options
      @ $ % #
