.timer-list
  %h3.date-title Today
  .timers{ "ng-repeat" => "timer in timers | orderBy:'created_at':true" }  
    .timer-n.animate{}
      <strong>{{ parseTime(timer.total_time) }}</strong> on <strong>{{ timer.project.name }}</strong> for JAXONS
      
      .right
        .money
          <strong>€ {{ timer.total_value / 100 }}</strong>
        %i.fa.fa-times{ "ng-click" => "deleteTimer($index)" }
      <br />

%br
%br
