.timer-list
  %table.small-12.timer-table
    %thead
      %tr
        %th Activity
        %th Project
        %th Date
        %th Time
        %th Value
        %th Actions

    %tbody
      %tr{ "ng-repeat" => "timer in timers | orderBy:'start_time':true" }
        = render 'listed_timer'