%div{ "ng-controller" => "TimerCtrl" }
  

  .medium-9.column.timerstuff
    = render 'layouts/new_timer'
    / = render 'timer'
    = render 'timer_list'

  .medium-2.right.column.clients
    = render 'client_list'
