= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }
  
  .projects{ "ng-controller" => "newClientCtrl" }
    = render 'project_list'
  
  / .row.right-side
  /   .new-timer
  /     = render 'layouts/new_timer'

  .main-content
    = render 'timer_list'

  / .row.right-side
  /   .timer-list
  /     = render 'timer_list'
