.row
  .col-md-12
    .container
      %div{ "ng-controller" => "TimerCtrl" }
        .timer
          %h1.top-timer
            %timer{ "interval" => "1000", "autostart" => "false", "ng-model" => "timer.data", "start-time" => "startingTime" }
              {{hours}} : {{minutes}} : {{seconds}}

          %div{ class: "btn btn-primary btn-lg", "ng-click" => "toggleTimer()", "ng-class" => "startClass" }
            {{startValue}}




        .row.timer-table
          %table{class: "table"}
            %thead
              %th ID
              %th Start
              %th End
              %th Time
              %th
            %tbody
              %tr{"ng-repeat" => "timer in timers", enter: "active", "leave" => "", class: 'timer-row'}
                %td {{ timer.id }}
                %td {{ timer.created_at | date:'MMM d, H:mm' }}
                %td {{ timer.end_time | date:'shortTime' }}
                %td {{ timer.total_time }}
                %td
                  %button.btn.btn-warning{"ng-click" => "deleteTimer($index)"} delete

            %tfoot
              %tr
                %th{colspan: "1"}
                  total
                %td {{ timers.length + " timers"}}
                %td
                %td
                %td
