%div{ "ng-controller" => "TimerCtrl" }
  .ui.one.column.stackable.center.aligned.grid
    .column
      %h1.top-timer
        %timer{ "interval" => "1000", "autostart" => "false", "ng-model" => "timer.data" }
          {{hours}}h {{minutes}}m {{seconds}}s

      %div{ class: "", "ng-click" => "toggleTimer()", "ng-class" => "startClass" }
        {{startValue}}


  %br
  %br
  .ui.stackable.grid
    .three.wide.column
    .ten.wide.column
      .row
        %table{class: "ui basic table segment"}
          %thead
            %th ID
            %th Start
            %th End
            %th Time
            %th Buttons
          %tbody
            %tr{"ng-repeat" => "timer in timers", enter: "active", "leave" => "", class: 'timer-row'}
              %td {{ timer.id }}
              %td {{ timer.created_at | date:'MMM d, H:mm' }}
              %td {{ timer.end_time | date:'shortTime' }}
              %td {{ timer.total_time }}
              %td
                %div{ class: "ui tiny basic button", "ng-click" => "deleteTimer($index)" }
                  Delete
                %div{ class: "ui tiny basic button", "ng-click" => "stopTimer($index)" }
                  Stop
