= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }
  
  = render 'layouts/new_timer'
  
  = render 'timer_list'

  / .projects{ "ng-controller" => "newClientCtrl" }
  /   = render 'project_list'