.row
  %div{ class: "small-10 small-centered columns" }
    %div{ "ng-controller" => "TimerCtrl" }
      .timer-list{"ng-repeat" => "timer in timers"}
        .timer-n
          %h4 {{ timer.created_at | date:'MMM d, H:mm' }} - {{ timer.end_time | date:'MMM d, H:mm' }} {{ timer.total_time }}s
          %button.btn.btn-warning{"ng-click" => "deleteTimer($index)"} delete

.row
  .small-4.small-centered.column
    Laatste verandering:
    %br
    = @release_notes
