.row
  .small-10.column{ "ng-controller" => "TimerCtrl" }

    / = render 'timer'
    = render 'layouts/new_timer'
    = render 'timer_list'

  .small-2.right.column
    %fieldset
      %legend Projects
      - @projects.each do |project|
        = link_to project.name, nil
        <br />

.row
  .small-4.small-centered.column
    %fieldset
      Laatste verandering:
      %br
      = @release_notes
