.row
  .small-10.column{ "ng-controller" => "TimerCtrl" }

    / = render 'timer'
    = render 'layouts/new_timer'
    = render 'timer_list'

  .small-1.right.column
    %dl.tabs.vertical{ "data-tab" => ""}
    - @projects.each do |project|
      %dd
        = link_to project.name, nil

.row
  .small-4.small-centered.column
    Laatste verandering:
    %br
    = @release_notes
