.row
  .small-10.small-centered.column{ "ng-controller" => "TimerCtrl" }

    / = render 'timer'
    = render 'layouts/new_timer'
    = render 'timer_list'
    
  / .row
  /   .small-4.small-centered.column
  /     Laatste verandering:
  /     %br
  /     = @release_notes
