= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }

  .sidebar-container
    = render 'project_list'

  .small-8.column
    = render 'layouts/new_timer'
    = render 'timer_list'
  
  