= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }

  .sidebar-container
    = render 'sidebar'

  .small-8.column
    .row
      = render 'layouts/new_timer'
    .row
      = render 'timer_list'
  
  
