%div{ "ng-controller" => "TimerCtrl" }
  .ui.one.column.stackable.center.aligned.grid
    .column
      %h1.top-timer
        %timer{ "interval" => "1000", "autostart" => "false", "ng-model" => "timer.data" }
          {{hours}}h {{minutes}}m {{seconds}}s

      %div{ class: "", "ng-click" => "addTimer($hours)", "ng-class" => "startClass" }
        {{startValue}}

  %br
  %br
  .ui.stackable.grid
    .three.wide.column
    .ten.wide.column
      .row
        %table.ui.table
          %thead
            %th Date
            %th ID
            %th State
            %th Time running
            %th End time
            %th Buttons
          %tbody
            %tr{"ng-repeat" => "timer in timers", enter: "positive", "leave" => ""}
              %td {{ timer.created_at | date:'mediumTime' }}
              %td {{ timer.id }}
              %td {{ timer.end_time | date:'mediumTime' }}
              %td
                %timer
                  {{hours}}:{{minutes}}:{{seconds}}
              %td {{ timer.end_time | date:'mediumTime' }}
              %td
                %div{ class: "ui tiny button", "ng-click" => "deleteTimer($index)" }
                  Delete
                %div{ class: "ui tiny button", "ng-click" => "stopTimer($index)" }
                  Stop
