%div{ "ng-controller" => "TimerCtrl" }
  = render 'layouts/new_timer'

  .row
    .medium-9.column

      / = render 'timer'
      = render 'timer_list'

    .medium-3.right.column
      = render 'client_list'

#myModal.reveal-modal{"data-reveal" => ""}
  %h2 Awesome. I have it.
  %p.lead Your couch.  It is mine.
  %p Im a cool paragraph that lives inside of an even cooler modal. Wins
  %a.close-reveal-modal ×
