= render 'layouts/templatecache'
%div{ "ng-controller" => "TimerCtrl" }
  
  .row
    .small-3.column
      = render 'project_list'

    .small-9.column
      = render 'layouts/new_timer'
      = render 'timer_list'
  
  