%div{ "ng-controller" => "TimerCtrl" }
  = render 'layouts/new_timer'

  .row
    .medium-9.column

      / = render 'timer'
      = render 'timer_list'

    .medium-3.right.column
      = render 'client_list'

= render 'layouts/new_client'
