.row{ "ng-controller" => "TimerCtrl" }
  .medium-9.column

    / = render 'timer'
    = render 'layouts/new_timer'
    = render 'timer_list'
    / # = render 'layouts/commits'

  .medium-3.right.column
    = render 'project_list'

  

