/*
 *
 *= require_self
 *= require_tree .
 */

@import "colors";

$navbar-height: 65px;
$navbar-bg: $jx-blue2;

$navbar-link-active-color: white;
$navbar-link-active-bg: $jx-blue;

$navbar-link-color: white;
$navbar-link-hover-color: white;

$navbar-brand-color: #fff;
$navbar-brand-hover-color: $jx-blue;


@import "twitter/bootstrap";
@import "mixins";

.navbar-default {
  background-color: $jx-blue;
  color: white;
  border-radius: 0px;
  border: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover { background-color: $jx-blue2; color: white; }
}

body {
  background: rgba(239, 239, 239, 0.91);
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans';
}

.login {
  @include base-box;
  margin-top: 160px;
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
}

h1.login-head {
  color: #fff;
  font-size: 5em;
  font-weight: lighter;
}

.form-control {
  border: 2px solid $jx-blue;
  box-shadow: none;
  background-color: $jx-off-white;
  &:focus {
    box-shadow: none;
    border-color: $jx-blue;
    background-color: white;
  }
}

.btn {
  border: 2px solid;
  background-color: $jx-off-white;
}

.btn-primary {
  border: 2px solid $jx-blue;
  color: $jx-blue;

  &:hover {
    background-color: $jx-blue;
    border-color: $jx-blue;
  }
}

.btn-warning {
  border-color: $jx-pumpkin;
  color: $jx-pumpkin;
  &:hover {
    background-color: $jx-pumpkin;
    border-color: $jx-pumpkin;
  }
}

.btn-lg {
  padding-top: 8px;
  font-size: 1.8em;
}
