// COLORS: xxx2 is another shade of xxx
$jx-white: #fff;

$jx-off-white: rgba(239, 239, 239, 0.91);
$jx-silver: #bdc3c7;

$jx-light-grey: #eee;

$jx-med-grey: #454545;

$jx-concrete: #95a5a6;
$jx-grey: #7f8c8d;

$jx-dark-grey: #333;
$jx-dark-gray: #333;

$jx-blue: #3498db;
$jx-blue2: #2980b9;

$jx-dark-blue: #2c3e50;
$jx-dark-blue2: #34495e;

$jx-pumpkin: #d35400;
$jx-carrot: #e67e22;

$jx-yellow: #f1c40f;
$jx-orange: #f39c12;

$jx-green: #2ecc71;
$jx-green2: #27ae60;

$jx-turquoise: #1abc9c;
$jx-turquoise2: #16a085;

$jx-purple: #9b59b6;
$jx-purple2: #8e44ad;

$jx-red: #e74c3c;
$jx-red2: #c0392b;

// Color scheme
$textcolor: #333;
$bgcolor: #fff;
$maincolor: $jx-grey;
$secondarycolor: $jx-blue;

$btn-primary-color: $maincolor;
$btn-warning-color: $jx-red;
