// MIXINS

@mixin base-box {
  background-color: #fff;
  border: 1px solid #ccc;
}

@mixin center-box {
  @include base-box;
}

@mixin top-row {
  border-top: 1px solid #ccc;
}

@mixin bottom-row {
  border-bottom: 1px solid #ccc;
}
