@import 'colors';

.navbutton.active {
  color: rgba(0,0,0,0.8) !important;
  z-index: 100 !important;
  // background: $jx-bg-color !important;
}

@media only screen and (max-width: 40em) {
  .jobbar {
    height: 40px;
  }
  .navbutton {
    top: 8px; 
  }
}

@media only screen and (min-width: 40.063em) { 
  .jobbar {
    height: 65px;
    .title { padding-top: 10px; }
  }
  .navbutton {
    top: 33px;
  }
}


.jobbar {
  padding-left: 15px;
  // box-shadow: 1px 0px 2px #ccc;
  background: #fff !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .title {
    display: inline;
    float: left;
    color: #555;
    font-weight: 700 !important;
    // font-family: Quicksand;
  }

  .topnav {
    text-align: center;
    display: inline;

    .navbutton {
      display: inline;
      font-family: $main-font;
      font-weight: lighter;
      font-size: 1.4rem;
      padding: 3px 15px;
      position: relative;
      border: 0;
      background: none;
    }
  }
}

.nav-dropdown {
  float: right;
  margin-right: 50px;
  width: 50px;
  padding-top: 16px;
  a {
    color: #555;
  }
}
