// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "mixins";
.n_project {
}

.project_list {
  @include center-box;
  background-color: #fff;
}

.project {
  // background-color: #f7f7f7;
  // border: 2px solid #fff;
  height: 100px;
  max-height: 100px;
  margin-bottom: 10px;
  h1 a {
    color: $textcolor;
    
  }
  &:hover {
    background-color: $jx-blue2;
    transition: all 0.3s;
  }
}

.project .title {
  // border-right: 2px solid #fff;
  display: inline-block;
  height: 100px;
  h1 {
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  h2 {
    font-size: 1.2em;
    margin: 0;
    color: $jx-green;
  }
}

@mixin project-sub-box {
  display: inline-block;
  height: 100px;
  text-align: center;
  h2 {
    margin-top: 10px;
  }
  h4 {
    font-size: 0.9em;
    color: $textcolor;
    margin-bottom: 0px;
  }
  h5 {
    font-size: 0.8em;
    color: $jx-orange;
  }
}

.project .time {
  @include project-sub-box;
}

.project .last {
  @include project-sub-box;
}

.top-input {
  width: auto;
  display: inline;
}

.create-top {
  padding-right: 0;
}
