@import "colors";

$project-bg: #A0DCF3;

.projects {
  background: $project-bg;
  padding: 0;
  padding-top: 20px;

  h2 {
    text-align: center;
    color: $jx-blue2;
  }

  .add-project {
    padding-bottom: 15px;
    color: $jx-blue2;
    text-align: center;
    &:hover { color: #fff; }
  }

  .project-n {
    font-family: Monda;
    color: rgb(35, 92, 124);
    background: $project-bg;
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #6BA7D6;

    &:hover {
      background: lighten($project-bg, 5%);
    }
  }

  input.project_filter {
    border: 0;
    background: #86C0E6;
    font-size: 14px;
    padding-left: 15px;
  }
  ::-webkit-input-placeholder {
    color: lighten($project-bg, 10%);
  }
}
