@import "colors";

$project-bg: #A0DCF3;

.projects {
  // background: $project-bg;
  padding: 0;

  h3 {
    text-align: center;
    color: $jx-line-color;
  }
  .add-project {
    text-align: center;
    &:hover { color: #fff; }
    font-size: 1.2rem;
  }

  .project-n {
    font-family: Monda;
    color: rgba(35, 92, 124, 0.9);
    background: none;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px dashed rgba(255,255,255,0.5);

    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }

  input.project_filter {
    font-family: Monda;
    text-align: center;
    border: 0;
    // border-bottom: 1px dashed rgba(255,255,255,0.7)
    // background: #86C0E6;
    // font-size: 14px;
    // padding-left: 15px;
  }
  ::-webkit-input-placeholder {
    color: $jx-input-placeholder-color !important;
  }
}
