@import "colors";

@media only screen and (max-width: 40em) {
  .projects {
    width: none;
    display: none;
  }
}

@media only screen and (min-width: 40.063em) { 
  .projects {
    width: 200px;
    min-height: -webkit-calc(100% - 65px) !important;
  }
}

.projects {
  padding: 0;
  // background: #F3F2F0;
  background: rgba(255, 255, 255, 0.6);
  // border-right: $jx-line-thickness solid $jx-line-color;
  position: absolute;

  h3 {
    color: $jx-line-color;
  }

  .add-project {
    &:hover { color: #fff; }
    font-size: 1.2rem;
    padding: 5px 5px;
    display: inline;
  }

  .client-n {
    font-family: Helvetica Neue;
    color: rgba(0,0,0,0.8);
    background: none;
    padding: 0px;
    // border-bottom: $jx-line-thickness solid rgba(255,255,255,0.15);

    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }

  .onepixel {
    padding-top: 5px;
    // background: rgba(255,255,255,0.5);
  }

  .client-n {
    .company-name {
      // font-family: Oxygen;
      font-weight: 200;
      display: inline-block;
      padding: 10px;
    }
    .uninvoiced {
      display: inline-block;
      float: right;
      height: 18px;
      min-width: 70px;
      padding: 0px 5px;
      line-height: 18px;
      font-size: 0.8rem;
      // background: rgba(0, 0, 0, 0.46);
      // color: white;
      text-align: right;
      .money {
        font-weight: bold;
        color: rgba(0,0,0,0.8);
      }
      .time {
        color: rgba(0, 116, 194, 0.81);
      }
    }
  }

  .project-n {
    font-family: $main-font;
    color: rgba(0,0,0,0.8);
    background: none;
    padding: 10px 5px;
    // border-top: $jx-line-thickness solid rgba(255,255,255,0.35);

    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }


  &:last-of-type .project-n {
    // border-bottom: $jx-line-thickness solid $jx-line-color !important;
  }

  input.project_filter {
    font-family: Monda;
    text-align: center;
    border: 0;
    display: inline;
    background: none;
    margin-bottom: 0px !important;

    &:hover, &:focus {
      background: rgba(255,255,255,0.8);
    }    
  }
  ::-webkit-input-placeholder {
    color: $jx-input-placeholder-color !important;
  }
}
