.projects .client-n {
  background: #fff;
  border-top: 1px solid rgba(0,0,0,0.1);

  .company-name { 
    display: inline-block; 
    background: #fff;
    color: #444;
    padding: 15px 15px;
    width: 100px;
    text-align: left;
    -webkit-transition: width 0.3s;
  }

  .uninvoiced {
    display: inline-block;
    color: #999;
    padding: 15px 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    // position: absolute;
    float: right;
  }

  padding-bottom: 15px;
}

.inner-client {
  background: #fff;
  height: 0px;
  // padding-top: 10px;
  overflow: hidden;
  @include transition(height, 0.3s);

  .money-box {
    display: inline-block;
    background: lighten(#ABB7B7, 10%);
    margin: 0;
    // line-height: 44px;
    text-align: center;
    width: 85px;
    height: 44px;

    .title {
      padding: 4px 0px;
      position: relative;
      font-size: 0.6rem;
    }

    .value {
      width: 85px;
    }
  }

  .edit-button {
    float: right;
    color: white;
    padding-top: 5px;
    padding-right: 5px;
  }
}

.client-n:hover .inner-client {
  height: 50px;
}

@include keyframes(bounce-down) {
  0%    { height: 0px; }
  30%   { height: 50px; }
  90%   { height: 70px; }
  100%  { height: 50px; }
}

.client-n-out .inner-client {
  height: 50px !important;
}


.client-n .invoiced {
  font-size: 0.8rem;
  line-height: 32px;
  height: 35px;
  border: 2px solid #FFA300;
  width: 100px;
  border-radius: 17.5px;
  text-align: center;
  display: inline-block;
  float: left;
  margin-left: 15px;
}

.client-n .paid {
  font-size: 0.8rem;
  line-height: 32px;
  height: 35px;
  border: 2px solid #4DAAFF;
  width: 100px;
  border-radius: 17.5px;
  text-align: center;
  display: inline-block;
  float: right;
  margin-right: 15px;
}

.client-n-project {
  height: 30px;
  line-height: 20px;
  padding: 5px 15px;
  color: #777;
  font-size: 0.9rem;
}

.client-n-project .p-name {
  float: left;
  display: inline-block;
}

.client-n-project .p-uninvoiced {
  display: inline-block;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  float: right;
  padding: 0 5px;
}

.client-n-project .p-invoiced {
  display: inline-block;
  padding-right: 5px;
  border: 1px solid #FFA300;
  border-radius: 30px;
  float: right;
  padding: 0 5px;
  margin-right: 5px;
}

.client-n-project .p-paid {
  display: inline-block;
  border: 1px solid #4DAAFF;
  border-radius: 30px;
  float: right;
  padding: 0 5px;
  margin-right: 5px;
}
