@import "colors";

@media only screen and (max-width: 40em) {
  .projects {
    width: none;
    display: none;
  }
}

@media only screen and (min-width: 40.063em) { 
  .projects {
    width: 263px;
  }
}

.create-buttons {
  margin-bottom: 56px;
  text-align: center;

  .new-button {
    height: 56px;
    width: 131.5px;
    line-height: 56px;
    display: block;
    background: #22A7F0;
    color: white;

    @include transition (background 0.3s);


    &:hover, &:focus {
      background: #1BBC9B;
    }
  }
}

.projects {
  padding-top: 0px;

  input.project_filter {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 0;
    background: #2574A9;
    color: #fff;
    height: 56px;
    margin-bottom: 0px;
    &:hover, &:focus {
      background: #4b4b4b;
    }    
  }
  ::-webkit-input-placeholder {
    color: #fff !important;
  }
}
