@import "colors";

@media only screen and (max-width: 40em) {
  .projects {
    width: none;
    display: none;
  }
}

@media only screen and (min-width: 40.063em) { 
  .projects {
    width: 263px;
  }
}

.create-buttons {
  margin-bottom: 79px;
  text-align: center;

  .new-button {
    height: 56px;
    width: 130px;
    line-height: 56px;
    display: block;
    background: #95a5a6;
    color: white;

    @include transition (background 0.3s);


    &:hover, &:focus {
      background: #1BBC9B;
    }
  }
}

.projects {
  padding-top: 5px;

  input.project_filter {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 0;
    background: #d8d8d8;
    color: #fff;
    height: 56px;
    margin-bottom: 5px;
    &:hover, &:focus {
      background: #4b4b4b;
    }    
  }
  ::-webkit-input-placeholder {
    color: #fff !important;
  }
}

.projects .client-n {
  background: #1bbc9b;
  margin-bottom: 10px;

  .company-name { 
    display: inline-block; 
    background: #049372;
    color: #A0FFD1;
    padding: 15px 15px;
    width: 100px;
    text-align: center;
    -webkit-transition: width 0.3s;
  }
  .uninvoiced {
    display: inline-block;
    color: white;
    padding: 15px 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    position: fixed;
  }

}

.inner-client {
  background: #1bbc9b;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s;

  .money-box {
    display: inline-block;
    background: lighten(#1bbc9b, 10%);
    margin: 0;
    // line-height: 44px;
    text-align: center;
    width: 85px;
    height: 44px;

    .title {
      padding: 4px 0px;
      position: relative;
      font-size: 0.6rem;
    }

    .value {
      width: 85px;
    }
  }

  .edit-button {
    float: right;
    color: white;
    padding-top: 5px;
    padding-right: 5px;
  }
}

.client-n:hover {
  .company-name { width: 100%; }
  .uninvoiced { opacity: 0; }
}

.client-n:hover .inner-client {
  height: 90px;
}


// PROJECTS

.projects .project-n {
  font-weight: 700;
  background: #22a7f0;
  margin-bottom: 10px;
  height: 39px;
  line-height: 39px;

  .project-name {
    display: inline-block;
    color: white;
    padding: 0px 15px;
  }

  .uninvoiced {
    float: right;
    display: inline-block;
    padding: 0px 15px;
  }

  .underbar {
    display: box;
    height: 3px;
    background: #0072b0;
  }
}
