.projects .client-n {
  background: #22A7F0;
  border-bottom: 2px solid #3498DB;

  .company-name { 
    display: inline-block; 
    background: #22A7F0;
    color: #fff;
    padding: 15px 15px;
    width: 100px;
    text-align: center;
    -webkit-transition: width 0.3s;
  }

  .uninvoiced {
    display: inline-block;
    color: white;
    padding: 15px 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    position: absolute;
  }

}

.inner-client {
  background: #ABB7B7;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s;

  .money-box {
    display: inline-block;
    background: lighten(#ABB7B7, 10%);
    margin: 0;
    // line-height: 44px;
    text-align: center;
    width: 85px;
    height: 44px;

    .title {
      padding: 4px 0px;
      position: relative;
      font-size: 0.6rem;
    }

    .value {
      width: 85px;
    }
  }

  .edit-button {
    float: right;
    color: white;
    padding-top: 5px;
    padding-right: 5px;
  }
}

.client-n:hover {
  .company-name { width: 100%; }
  .uninvoiced { opacity: 0; }
}

.client-n:hover .inner-client {
  height: 90px;
}

.client-n-out .inner-client {
  height: 90px !important;
}

.client-n-out {
  .company-name { 
    width: 100% !important;
    color: #fff !important;
  }
  .uninvoiced { opacity: 0 !important; }  
}
