@import "colors";

.select2-container .select2-choice {
  border-radius: 0px !important;
  border: 0;  
  border-bottom: 3px dashed $new-timer-fr;
  &:hover { border-bottom: 3px dashed $jx-blue; }
  padding: 5px;
  height: 2.3125rem;
  background: $new-timer-bg; 

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $jx-blue;
  }
}

.select2-default {
  color: $jx-blue !important;
}

.select2-container .select2-choice .select2-arrow {
  border: 0px;
  border-radius: 0px;
  background: $new-timer-bg;
}

.new-timer-row {
  background: $new-timer-bg;
  padding-top: 15px;
  font-family: Monda;

  input {
    border: 0px;
    background: $new-timer-bg;
    border-bottom: 3px dashed $new-timer-fr;
    &:hover { 
      border-bottom: 3px dashed $jx-blue;
    }
    &:focus {
      // background: #e0e0e0;
    }
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $jx-blue;
  }
}
