// Place all the styles related to the Timers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timer {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 40px;

}

.timer h1 {
  font-weight: 100;
  font-size: 5em;
}

.timer-table {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px
}
