// For typeahead
.dropdown-menu {
  font-family: Helvetica;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 180px;
  padding: 0px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  // border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > .company {
  display: inline;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  float: right;
  padding-right: 8px;
  // width: 50%;
}

.dropdown-menu > li > h5 {
  display: inline-block;
  // padding: 3px 8px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #235c7c;
  white-space: nowrap;
  padding-left: 10px;
}

// Custom hover class
.dropdown-menu > li:hover,
.dropdown-menu > li > a:hover {
  background: lighten(#a0dcf3, 15%);
  color: #fff;
}

.dropdown-menu > .active,
.dropdown-menu > .active > a {
  background: lighten(#a0dcf3, 15%);
  color: #fff;
}

.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
