%fieldset
  %legend Laatste veranderingen
  %h3 12 dec
  %ul
    %li
    
  %h3 11 dec
  %ul
    %li De lijst me projecten wordt nu nog slimmer geupdate.  
  %h3 10 dec
  %ul
    %li Een project kan nu weg worden gegooid
    %li Je kan nu makkelijk een project naam en hourly rate instellen. Klik maar op een bestaand project.
    %li Het lijstje projecten laat nu altijd alle projecten zien van de huidige gebruiker. Dus ook projecten die niet direct in gebruik zijn.

  %br
  %h3 9 dec
  %ul
    %li Makkelijke changelog voor Renaai
    %li Als je nu een nieuw project aanmaakt (door gewoon te typen), wordt deze automatisch en meteen toegevoegd aan het lijstje projecten.
