%fieldset
  %legend Laatste veranderingen
  <strong>10 dec</strong>
  %br
  %ul
    %li Je kan nu makkelijk een project naam en hourly rate instellen. Klik maar op een bestaand project.
    %li Het lijstje projecten laat nu altijd alle projecten zien van de huidige gebruiker. Dus ook projecten die niet direct in gebruik zijn.

  %br
  <strong>9 dec</strong>
  %br
  %ul
    %li Makkelijke changelog voor Renaai
    %li Als je nu een nieuw project aanmaakt (door gewoon te typen), wordt deze automatisch en meteen toegevoegd aan het lijstje projecten.
