.row
  .small-10.column
    %fieldset
      %legend Laatste veranderingen
      <strong>7 dec</strong> - start work on admin panel
      <strong>7 dec</strong> - time in list is now formatted to hours and minutes
      %br
      <strong>7 dec</strong> - update gems, rails
      %br        
      <strong>7 dec</strong> - fix sign out