%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to 'Time', nil

  %section.top-bar-section
    %ul.right
      %li
        %a{ href: '/settings' }
          %i.fa.fa-cog.fa-2x

      %li
        %a{ href: '/users/sign_out', "data-method" => 'delete', rel: "no-follow" }
          %i.fa.fa-sign-out.fa-2x
