.ui.menu
  %a.active.green.item
    %i.home.icon
    Track
  %a.red.item
    %i.calendar.icon
    Overview

  .right.menu
    .ui.dropdown.item
      %i.setting.icon
      .menu
        %a.item
          Settings
        %a.item
          You



