%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to 'Time', nil

  %section.top-bar-section
    %ul.right
      %li
        %a{ href: '/settings' }
          %i.fa.fa-cog.fa-2x

      %li
        = link_to destroy_user_session_path do
          %i.fa.fa-sign-out.fa-2x
