%form
  .row 
    .large-12.columns
      %fieldset
        %legend Log time
        .row
          .large-4.columns
            %input{ type: 'text', placeholder: 'e.g. 1h 23m' }
          .large-4.columns
            %input{ type: 'text', placeholder: 'project' }
          .large-4.columns
            %input{ type: 'text', placeholder: 'today' }
        / %button.button.tiny Log
