.new-timer
  %form{ "ng-submit" =>"logTime()", name: 'new_timer_form' }
  
    %input.small-12{ type: 'text', "ng-model" => "new_timer.project_name", "required" => "", "typeahead" => "p.name for p in projects | filter:$viewValue", placeholder: 'Project', "typeahead-template-url" => "project_dropdown.html", autofocus: true }
    
    %input.small-12{ type: 'text', "ng-model" => "new_timer.activity", placeholder: 'Activity', "typeahead" => "a.name for a in activities | filter:$viewValue", "typeahead-template-url" => "activity_dropdown.html" }
    
    %input.small-12{ type: 'text', "ng-model" => "new_timer.written_time", placeholder: 'e.g. 1h 22m', "required" => "" }
  
    %input.small-12{ type: 'text', "ng-model" => "new_timer.written_start_time", placeholder: 'Today' }

    %timer.stopwatch{ "interval" => "1000", "autostart" => "false", "ng-class" => "timerRunning == true ? 'stopwatch stopwatch-running' : 'stopwatch'" }
      {{hours}}h {{minutes}}m {{ seconds }}s


    .timer-buttons
      %button.log-button.left{ "ng-disabled" => "new_timer_form.$invalid" }
        LOG TIME

      .stopwatch-button{ "ng-click" => "toggleTimer()" }
        {{ timerRunning == true ? 'STOP' : 'START'}}

    / .small-12.column.clear-form{ "ng-click" => "new_timer = {}" }
    /   %a
    /     clear entire form
