%div{ "ng-controller" => "newClientCtrl" }
#modalNewClient.reveal-modal.medium{ "ng-controller" => "newClientCtrl", "data-reveal" => "", "reveal-modal" => "modal.show" }
  %h2 Create a new client
  %p A client can be your employer, a person or company that you invoice or anyone else. A client has one or multiple projects, which each contain logged time.
  %form
    %input{ "ng-model" => "new_client.company_name", type: 'text', placeholder: "Client's name (required)", "required" => "" }
    %input{ "ng-model" => "new_client.contact_person", type: 'text', placeholder: "Contact person at client"}
    %input{ "ng-model" => "new_client.kvk", type: 'text', placeholder: "Client company registry number"}
    %input{ "ng-model" => "new_client.address", type: 'text', placeholder: "Address"}
    %input{ "ng-model" => "new_client.postal_code", type: 'text', placeholder: "Postal code"}
    %input{ "ng-model" => "new_client.city", type: 'text', placeholder: "City"}
    %button.log-button{ type: 'button', "ng-click" => "newClient(new_client)" } Create Client

  %a.close-reveal-modal{ "ng-click" => "modal.showModal = false" } ×
