%form{ "ng-submit" =>"logTime()" }
  .row 
    .large-12.columns
      %fieldset
        %legend Log time
        .row
          .medium-5.columns
            %input{ type: 'text', "ng-model" => "new_timer.written_time", placeholder: 'e.g. 1h 23m' }
          .medium-5.columns
            %input{ type: 'text', "ng-model" => "new_timer.project", placeholder: 'project' }
          .medium-2.columns
            %button.log-button
              Log
        %pre{ "ng-bind" => "new_timer | json" }
