%script{id: "project_dropdown.html", type: "text/ng-template"}
  %h5.project{ tabindex: "-1", "bind-html-unsafe" => "match.label | typeaheadHighlight:query"} 
  %h5.company {{ match.model.client.company_name }}

  .divider

%script{id: "activity_dropdown.html", type: "text/ng-template"}
  %h5.activity{ tabindex: "-1", "bind-html-unsafe" => "match.label | typeaheadHighlight:query" } 

  .divider
